{% block formheader %}
    <div class="page-header">
        <h1>Default</h1>
    </div>
{% endblock %}
{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
<br>
Név: {{ entity.getUserName }}
<br>
Szerepkörök: {{ entity.getRolesString }}
<br>
Utolsó belépés: {{ entity.getLastLoginString }}
{% endif %}