<html>
    <head>
        <title>Straxus</title>
        <link rel="Shortcut Icon" type="image/ico" href="../media/header-logo.png" />
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

        {% block stylesheets %}{% endblock %}
    </head>
   <body>
        {% block body %}{% endblock %}
        {% block javascript %}{% endblock %}
   </body>
</html>