{% extends "AppBundle::base.html.twig" %}
{% block body %}
    <body>
        <header class="container-fluid">
            <div>
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <nav class="navbar navbar-default">
                        <div class="container-fluid">
                            <ul class="nav navbar-nav">
                                <li><a href="/">Default</a></li>
                                    {% if is_granted("ROLE_ADMIN") %}
                                    <li><a href="/admin">Admin</a></li>
                                    {% endif %}
                                    {% if is_granted("ROLE_LUSER") %}
                                    <li><a href="/user">User</a></li>
                                    {% endif %}
                                    {% if is_granted("ROLE_EDITOR") %}
                                    <li><a href="/edit">Edit</a></li>
                                    {% endif %}
                            </ul>
                            <ul class = "nav navbar-nav navbar-right">
                                <li><a href="{{ path('fos_user_security_logout') }}">
                                        {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                                    </a></li>
                            </ul>
                        </div>
                    </nav>
                {% endif %}
            </div>
        </header>
        
        {% for type, messages in app.session.flashBag.all %}
            {% for message in messages %}
                <div class="{{ type }}">
                    {{ message|trans({}, 'FOSUserBundle') }}
                </div>
            {% endfor %}
        {% endfor %}
        
        {% block formheader %}{% endblock %}

        <div class="container-fluid formtypes">
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
                {% block content %}
                {% endblock content %}
            </div>
        </div>
        <br>
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            {% block anotherbuttons %}
            {% endblock anotherbuttons%}
        </div>

    </body>
</html>
{% endblock %}