{% extends "AppBundle::base.html.twig" %}
{% block body %}
    <body>
        <header class="container-fluid">
            <div class="pull-right">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <nav>
                            <a href="/">Main</a>
                        {% if is_granted("ROLE_ADMIN") %}
                            <a href="/admin">Admin</a>
                        {% endif %}
                        {% if is_granted("ROLE_USER") %}
                            <a href="/user">User</a>
                        {% endif %}
                        {% if is_granted("ROLE_EDITOR") %}
                            <a href="/edit">Edit</a>
                        {% endif %}
                        <a href="{{ path('fos_user_security_logout') }}">
                            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                        </a>  
                    </nav>
                {% else %}
                    <nav>
                        <a href="/login">Login</a>
                        <a href="/register">Register</a>
                    </nav>
                {% endif %}
            </div>
        </header>
        
        {% for type, messages in app.session.flashBag.all %}
            {% for message in messages %}
                <div class="{{ type }}">
                    {{ message|trans({}, 'FOSUserBundle') }}
                </div>
            {% endfor %}
        {% endfor %}
        
        {% block formheader %}{% endblock %}

        <div class="container-fluid formtypes">
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
                {% block content %}
                {% endblock content %}
            </div>
        </div>
        <br>
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            {% block anotherbuttons %}
            {% endblock anotherbuttons%}
        </div>

    </body>
</html>
{% endblock %}